.gif__card {
  margin-bottom: 1rem;
  cursor: pointer;

  img {
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    &:hover {
      transform: scale(1.5);
    }
  }

  .card-body {
    padding: 1rem 1.5rem;
    text-wrap: pretty;
    z-index: 10;
  }
}
