<aside>
  <h2>Búsqueda de países</h2>
  <ul class="list-group">
    <!-- <li
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-group-item cursor-pointer"
    >
      Home Page
    </li>
    <li
      routerLink="about"
      class="list-group-item cursor-pointer"
      routerLinkActive="active"
    >
      About Page
    </li>
    <li
      routerLink="contact"
      class="list-group-item cursor-pointer"
      routerLinkActive="active"
    >
      Contact Page
    </li> -->
    <li
      routerLink="countries/by-capital"
      class="list-group-item cursor-pointer"
      routerLinkActive="active"
    >
      Por capital
    </li>
    <li
      routerLink="countries/by-country"
      class="list-group-item cursor-pointer"
      routerLinkActive="active"
    >
      Por país
    </li>
    <li
      routerLink="countries/by-region"
      class="list-group-item cursor-pointer"
      routerLinkActive="active"
    >
      Por región
    </li>
  </ul>
</aside>
