<section>
  <h2>Por región</h2>

  <hr />

  <div class="row">
    <div class="col">
      <button
        *ngFor="let region of regions"
        class="btn mx-2 text-white"
        [ngClass]="{ 'btn-primary': selectedRegion === region }"
        (click)="searchRegion(region)"
      >
        {{ region }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <shared-loading-spinner
        title="Buscando por región"
        *ngIf="isLoading"
      ></shared-loading-spinner>
      <countries-table [countries]="countries"></countries-table>
    </div>
  </div>
</section>
